.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  background-color: tomato;
  height: auto;
  margin: 0 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: wheat;
  cursor: pointer;
  font-size: 18px;
  transition: all .3s ease;
}

.search-button:hover {
  background-color: #43e97b;
  color: black;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}